## Base Setup

# Choose your Organization for GCP
export GCP_org_id=YOUR_ORG_ID

# Choose your Billing Account on GCP
export GCP_billing_account=YOUR_BILLING_ACCOUNT_ID

# Folder that contains all the projects on gcp 
export GCP_folder_id=YOUR_PROJECT_FOLDER


## Project

# The Project ID where Terraform service account is created.
export GCP_tf_admin_project=terraform-admin

# Service Account[name] for Terraform on GCP 
export GCP_tf_service_account_name=${USER}-terraform-admin

# Service Account[creds] for Terraform on GCP 
export GCP_tf_service_account_credentials=~/.config/gcloud/${USER}-terraform-admin.json
